/* Refresh Page Styles */
#setup {
    margin-top: 25px;
    display: none;
}

#setup-button {
    background-color: #9E1B32;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#setup-button:hover {
    background-color: #7c1526;
}