/* Reset Password Page Styles */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9E1B32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7c1526;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#password-requirements {
    text-align: left;
    color: red;
    font-size: 14px;
    padding: 0;
}

#password-requirements li {
    list-style: none;
    margin: 5px 0;
}

#error-message {
    color: red;
    font-size: 14px;
    margin: 10px 0;
    display: none;
}
